<h1>Add Student</h1>
<form action="/add-student" method="POST">
  Name: <input name="name" required><br>
  Age: <input name="age" type="number"><br>
  Grade: <input name="grade"><br>
  Email: <input name="email" type="email"><br>
  Phone: <input name="phone"><br>
  Address: <input name="address"><br>
  <button type="submit">Submit</button>
</form>
